@model complaint.Models.Company
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Layout/_HomeLayout.cshtml";
}

<section id="hero">
    <div class="hero-container">
        <h1></h1>
        <h2>Çözüm İçin Şikayet Var</h2>
        @if (User.IsInRole("User"))
        {
            <a href="/Complaint/WriteaComplaint/" class="btn-get-started" id="myBtn">Şikayet Yaz</a>
        }
        else
        {
            <h5 style="color:white">Şikayetinizi Yazmak için Üye Olunuz</h5>
        }

    </div>
</section><!-- #hero -->
<section id="facts">
    <div class="container wow fadeIn">
        <div class="section-header">
            <p class="section-description" style="font-size: 40px;">Sayılarla Şikayetvar</p>
        </div>
        <div class="row counters">
            <div class="col-lg-4 col-4 text-center">
                <span data-toggle="counter-up">@ViewBag.v1</span>
                <p>Bireysel Üye Sayısı</p>
            </div>
            <div class="col-lg-4 col-4 text-center">
                <span data-toggle="counter-up">@ViewBag.v2</span>
                <p>Kayıtlı Marka</p>
            </div>
            <div class="col-lg-4 col-4 text-center">
                <span data-toggle="counter-up">@ViewBag.v3</span>
                <p>Çözülen Şikayet</p>
            </div>
        </div>
    </div>
</section><!-- #facts -->
<!--==========================
 Call To Action Section
 ============================-->
<section id="call-to-action">
    <div class="container wow fadeIn">
        <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
                <h3 class="cta-title">Tüketici deneyimi, sizin markanız</h3>
                <p class="cta-text">
                    Olumsuz alışveriş deneyimi yaşayan müşteriler, bu süreci 250 kişiyle paylaşıyor.
                    Müşteri odaklı kültürün parçası olmak ve mutlu müşteriler yaratmak için:
                </p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="#" data-toggle="modal" data-target="#takıl">Birlikte Çalışalım</a>
            </div>
        </div>
    </div>

</section><!-- #call-to-action -->
<!---BrandSignUp--->
<div class="modal fade" id="takıl" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Marka Profili Oluştur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            
            <div class="modal-body">
                <label>Ad-Soyad</label>
                <input type="text" name="NameSurname" id="NameSurname" class="form-control" style="border-radius:15px" />
                <br />
                <label>Şirket</label>
                <input type="text" name="CompanyName" id="CompanyName" class="form-control" style="border-radius:15px" />
                <br />
                <label>Telefon Numarası</label>
                <input type="tel" name="PhoneNumber" id="PhoneNumber" class="form-control" style="border-radius:15px" />
                <br />
                <label>E-Posta</label>
                <input type="email" name="EMail2" id="EMail2" class="form-control" style="border-radius:15px" />
                <br />
                <label>Web Sitesi</label>
                <input type="url" name="WebUrl" id="WebUrl" class="form-control" style="border-radius:15px" />
                <br />
                
                <button type="submit" class="btn btn-success btn-block" style="border-radius:30px" id="signup_button">Üye OL</button>

            </div>
            
        </div>
    </div>


</div>
<script>
    $(document).ready(function () {

        $('#signup_button').click(function () {
            var NameSurname = $('#NameSurname').val();
            var CompanyName = $('#CompanyName').val();
            var PhoneNumber = $('#PhoneNumber').val();
            var EMail = $('#EMail2').val();
            var WebUrl = $('#WebUrl').val();

            if (CompanyName == "" || NameSurname == ""  || EMail=="") {
                toastr.info("Tüm alanları doldurunuz")
                return;
            }





            $.ajax({
                type: 'Post',
                url: "/Account/BrandRequest",
                data: { NameSurname, CompanyName, PhoneNumber, EMail, WebUrl },

                success: function (data) {

                    if (data.success) {
                        setTimeout(toastr.success("Bilgilerinizi aldık en kısa sürede sizinle iletişime geçilecek."), 1000);
                        window.location.href = "/Account/Home"
                        
                        
                    }
                    else {
                        toastr.error("Bir şeyler yanlış gözüküyor.")
                    }
                },
                error: function () {
                    toastr.error("Bir şeyler yanlış gözüküyor.")
                }

            });



        })
    });
</script>




