@model complaint.Models.ModelView
<!--Modal: Login / Signup Form-->
<!--Signup-->


<script src="~/Scripts/jquery-3.5.0.min.js"></script>


<div class="modal fade" id="SignUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Üye Ol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <label>Ad-Soyad</label>
                <input type="text" name="UserNameSurname1" id="UserNameSurname1" class="form-control" style="border-radius:15px" />
                <br />
                <label>E-posta</label>
                <input type="email" name="EMail1" id="EMail1" class="form-control" style="border-radius:15px" />
                <br />
                <label>Şifre</label>
                <input type="password" name="UserPassword1" id="UserPassword1" class="form-control" style="border-radius:15px" />
                <br />
                <button type="button" name="signUp_button" id="signUp_button" class="btn btn-success btn-block" style="border-radius:30px">Üye Ol</button>
            </div>

        </div>
    </div>
</div>

<!--Login-->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Üye Giriş</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>




            <div class="modal-body">
                <label>E-posta</label>
                <input type="email" name="EMail" id="EMail" class="form-control" style="border-radius:15px" />
                <br />
                <label>Şifre</label>
                <input type="password" name="UserPassword" id="UserPassword" class="form-control" style="border-radius:15px" />
                <br />
                <button type="button" name="login_button" id="login_button" class="btn btn-success btn-block" style="border-radius:30px">Giriş Yap</button>
                <div class="form-group">
                    Hesabınız yok mu ?<a href="SignUp" data-toggle="modal" data-target="#SignUp" data-dismiss="modal" class="btn btn-link"><span aria-hidden="true">Üye Ol</span></a>
                    <a href="#" data-toggle="modal" data-target="#ForgetPassword" data-dismiss="modal" class="btn btn-link" style="margin-left: 15%;">Şifremi Unuttum</a>
                </div>


            </div>


        </div>
    </div>
</div>
<!--ForgetPassword-->
<div class="modal fade" id="ForgetPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Şifremi Unuttun</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <div class="modal-body">

                <label>Şifre yenileme için giriş yaptığınız e-posta adresini giriniz.</label>

                <input type="email" name="EMailForget" id="EMailForget" class="form-control" style="border-radius:15px" />
                <br />
                <br>
                <button class="btn btn-success btn-block" style="border-radius:30px" id="ForgetPassword_button" name="ForgetPassword_button">Devam Et</button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Companylogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Marka Girişi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>


            <div class="modal-body">

                <label>E-posta</label>
                <input type="email" name="EMailBrand" id="EMailBrand" class="form-control" style="border-radius:15px" />
                <br />
                <label>Şifre</label>
                <input type="password" name="CompanyPassword" id="CompanyPassword" class="form-control" style="border-radius:15px" />
                <br />
                <button type="button" name="loginbrand_button" id="loginbrand_button" class="btn btn-success btn-block" style="border-radius:30px">Giriş Yap</button>
            </div>




        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $('#ForgetPassword_button').click(function () {
            var Email = $('#EMailForget').val();

            if (Email == "") {
                toastr.info(" E-Posta alanını doldurunuz")
                return;
            }





            $.ajax({
                type: 'Post',
                url: "/Account/PasswordReset",
                data: { Email },

                success: function (data) {

                    if (data.success) {

                        toastr.success("Lütfen mail adresinizi kontrol ediniz")


                    }
                    else {
                        toastr.error("Lütfen mail adresinizi doğru yazdığınızdan emin olun.")
                    }
                },
                error: function () {
                    toastr.error("Bir şeyler yanlış gözüküyor.")
                }

            });



        })
    });
</script>
<script>
    $(document).ready(function () {

        $('#login_button').click(function () {
            var Email = $('#EMail').val();
            var UserPassword = $('#UserPassword').val();
            if (Email == "" || UserPassword == "") {
                toastr.info("Tüm alanları doldurunuz")
                return;
            }





            $.ajax({
                type: 'Post',
                url: "/Account/Login",
                data: { Email, UserPassword },

                success: function (data) {

                    if (data.success) {

                        if (data.role == "Admin") {
                            window.location.href = "/Admin/Index"
                        }
                        else if (data.role=="User") {
                            window.location.href = "/Account/Home"
                        }

                        
                    }
                    else {
                        toastr.error("Lütfen giriş bilgilerinizi kontrol edeniz.")
                    }

                },
                error: function () {
                    toastr.error("Bir şeyler yanlış gözüküyor.")
                }

            });



        })
    });
</script>
<script>
    $(document).ready(function () {

        $('#loginbrand_button').click(function () {
            var Email = $('#EMailBrand').val();
            var CompanyPassword = $('#CompanyPassword').val();
            if (Email == "" || CompanyPassword == "") {
                toastr.info("Tüm alanları doldurunuz")
                return;
            }





            $.ajax({
                type: 'Post',
                url: "/BrandPanel/Index",
                data: { Email, CompanyPassword },

                success: function (data) {

                    if (data.success) {
                        window.location.href = "/BrandPanel/Index"
                    }
                    else {
                        toastr.error("Lütfen giriş bilgilerinizi kontrol edeniz.")
                    }
                },
                error: function () {
                    toastr.error("Bir şeyler yanlış gözüküyor.")
                }

            });



        })
    });
</script>
<script>
    $(document).ready(function () {

        $('#signUp_button').click(function () {
            var Email = $('#EMail1').val();
            var UserPassword = $('#UserPassword1').val();
            var UserNameSurname = $('#UserNameSurname1').val();
            if (Email == "" || UserPassword == "" || UserNameSurname == "") {
                toastr.info("Tüm alanları doldurunuz")
                return;
            }





            $.ajax({
                type: 'Post',
                url: "/Account/SignUp",
                data: { Email, UserPassword, UserNameSurname },

                success: function (data) {

                    if (data.success) {
                        window.location.href = "/Account/Home"
                    }
                    else {
                        toastr.error("Bir şeyler yanlış gözüküyor.")
                    }
                },
                error: function () {
                    toastr.error("Bir şeyler yanlış gözüküyor.")
                }

            });



        })
    });
</script>
